<template>
  <NDrawer v-model:show="state.popup.make" placement="left" width="max-content">
    <NDrawerContent title="Make an Offer" closable>
      <NForm
        :model="state.makeOfferFields"
        :rules="makeOfferRules"
        ref="makeOfferFormRef"
      >
        <NFormItem label="Asset ID" path="assetId">
          <NTooltip trigger="hover" placement="right">
            <template #trigger>
              <NInput
                v-model:value="state.makeOfferFields.assetId"
                placeholder="Asset you will pay"
                clearable
              />
            </template>
            Insert duck's asset id or leave empty to use WAVES
          </NTooltip>
        </NFormItem>
        <NFormItem label="Amount" path="amount">
          <NTooltip trigger="hover" placement="right">
            <template #trigger>
              <NInputNumber
                :value="state.makeOfferFields.amount"
                @update:value="state.makeOfferFields.amount = parseFloat($event) || 0"
                :min="0"
                placeholder="Amount you will pay"
              />
            </template>
            Set to 1 for duck (NFT)
          </NTooltip>
        </NFormItem>
        <NFormItem label="Target genotype" path="genotype">
          <NInput
            v-model:value="state.makeOfferFields.genotype"
            placeholder="Target duck genotype: AAAAAAAA"
          />
        </NFormItem>
        <NFormItem label="Target color" path="color">
          <NInput
            v-model:value="state.makeOfferFields.color"
            placeholder="Target duck color: R"
          />
        </NFormItem>
        <NFormItem label="Target generation" path="generation">
          <NInput
            v-model:value="state.makeOfferFields.generation"
            placeholder="Target duck generation: G"
          />
        </NFormItem>
        <NFormItem label="Target sterility" path="sterility">
          <NSelect
            :value="state.makeOfferFields.sterility"
            @update:value="changeMakeOfferSterility($event)"
            :options="sterilityStatuses"
          />
        </NFormItem>
        <NFormItem label="Offer password" path="password">
          <NTooltip trigger="hover" placement="right">
            <template #trigger>
              <NInput
                v-model:value="state.makeOfferFields.password"
                placeholder="Specify for private exchange"
                type="password"
                show-password-toggle
                clearable
              />
            </template>
            The acceptance of the offer is only possible knowing this password
          </NTooltip>
        </NFormItem>
        <NFormItem>
          <NButton
            @click="makeOffer"
            :loading="state.loading.make"
            block
          >
            Make
          </NButton>
        </NFormItem>
      </NForm>
      <template #footer>
        <NText depth="3">Service fee: 0.01 WAVES</NText>
      </template>
    </NDrawerContent>
  </NDrawer>
  <NDrawer v-model:show="state.popup.accept" placement="right" width="max-content">
    <NDrawerContent title="Accept the Offer" closable>
      <NForm
        :model="state.acceptOfferFields"
        :rules="acceptOfferRules"
        ref="acceptOfferFormRef"
      >
        <NFormItem label="Duck asset ID" path="assetId">
          <NTooltip trigger="hover" placement="left">
            <template #trigger>
              <NInput
                v-model:value="state.acceptOfferFields.assetId"
                placeholder="Your duck asset ID"
              />
            </template>
            Insert asset ID of your duck
          </NTooltip>
        </NFormItem>
        <NFormItem label="Password" path="password">
          <NInput
            v-model:value="state.acceptOfferFields.password"
            :placeholder="`Order is ${state.currentOffer.password ? 'private' : 'public'}`"
            :disabled="!state.currentOffer.password"
            type="password"
            show-password-toggle
          />
        </NFormItem>
        <NFormItem>
          <NButton
            :loading="state.loading.accept[state.currentOffer.offerId]"
            @click="acceptOffer"
            block
          >
            Accept
          </NButton>
        </NFormItem>
      </NForm>
      <template #footer>
        <NText depth="3">Service fee: 0.01 WAVES</NText>
      </template>
    </NDrawerContent>
  </NDrawer>
  <NSpace vertical>
    <NSpace>
      <NButton
        @click="state.popup.make = true"
      >
        Make an Offer
      </NButton>
      <NTooltip trigger="hover" placement="right">
        <template #trigger>
          <NInput
            v-model:value="state.search"
            placeholder="Search"
            type="text"
            clearable
          />
        </template>
        Search for offer ID, asset ID, owner address, genotype
      </NTooltip>
    </NSpace>
    <NDataTable
      :columns="columns"
      :data="offersFiltered"
      :loading="state.loading.offers"
    />
  </NSpace>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, reactive, ref, watch, h } from 'vue'
import { AssetDetails, Offers, MakeOfferParams, SterilityStatus, AcceptOfferParams, Offer } from '../../types'
import * as api from '@/api'
import {
  NButton,
  NInput,
  NInputNumber,
  NSelect,
  NCard,
  NDrawer,
  NDrawerContent,
  NTooltip,
  NForm,
  NFormItem,
  NText,
  NDivider,
  NDataTable,
  NGrid,
  NGi,
  NSpace,
  useMessage,
} from 'naive-ui'

export default defineComponent({
  name: 'Home',
  props: {},
  components: {
    NButton,
    NInput,
    NInputNumber,
    NSelect,
    NCard,
    NDrawer,
    NDrawerContent,
    NTooltip,
    NForm,
    NFormItem,
    NText,
    NDivider,
    NDataTable,
    NGrid,
    NGi,
    NSpace,
  },
  setup() {
    const message = useMessage()
    const state = reactive({
      publicState: {} as WavesKeeper.IPublicStateResponse,
      offersRaw: {} as Offers,
      search: '',
      popup: {
        make: false,
        accept: false,
        cancel: false,
      },
      loading: {
        offers: false,
        make: false,
        accept: {} as Record<string, boolean>,
        cancel: {} as Record<string, boolean>,
      },
      assetsDetails:{
        'WAVES': {
          assetId: 'WAVES',
          name: 'WAVES',
          decimals: 8,
        },
      } as AssetDetails,
      makeOfferFields: {
        genotype: '',
        color: '',
        generation: '',
        sterility: 0 as SterilityStatus,
        password: '',
        assetId: '',
        amount: null,
      },
      acceptOfferFields: {
        offerId: '',
        password: '',
        assetId: '',
        amount: 1,
      },
      currentOffer: {
        offerId: '',
        genotype: '',
        color: '',
        generation: '',
        sterility: 0 as SterilityStatus,
        password: '',
        assetId: '',
        amount: 1,
        name: '',
      } as Offer,
    })

    const makeOfferFormRef = ref(null)
    const acceptOfferFormRef = ref(null)

    const acceptOfferRules = {
      assetId: {
        required: true,
        message: `Insert duck's asset ID`,
        trigger: ['input', 'blur']
      },
    }

    const makeOfferRules = {}

    const sterilityStatuses = [
      { label: 'Does not matter', value: 0 },
      { label: 'Can breed', value: 1 },
      { label: 'Sterile', value: 2 },
    ]

    const fetchOffers = async () => {
      try {
        state.loading.offers = true
        state.offersRaw = await api.fetchOffers()
      } catch (e) {
        message.error('An error occurred while loading offers', { closable: true })
        console.error(e)
      } finally {
        state.loading.offers = false
      }
    }

    const currentAddress = computed(() => state.publicState.account?.address)
    const assets = computed(() => {
      const assetsSet = new Set(Object.values(state.offersRaw).map(offer => offer.assetId))
      return [...assetsSet.values()].filter(assetId => assetId !== 'WAVES')
    })

    watch(assets, async (newValue) => {
      try {
        const details = await api.fetchAssetsDetails(newValue)
        state.assetsDetails = { ...state.assetsDetails, ...Object.fromEntries(details.map(item => [item.assetId, item])) as AssetDetails }
      } catch (e) {
        message.error('An error occurred while loading assets details', { closable: true })
        console.error(e)
      }
    })

    const offers = computed(() => {
      if (!Object.values(state.assetsDetails).length) return state.offersRaw
      return Object.fromEntries(Object.entries(state.offersRaw).map(([key, value]) => {
        return [
          key,
          {
            key: value.offerId,
            ...value,
            ...(value.assetId in state.assetsDetails && {
              name: state.assetsDetails[value.assetId].name,
            }),
          }
        ]
      }))
    })

    const offersFiltered = computed(() => {
      if (!state.search) return Object.values(offers.value)
      return Object.values(offers.value).filter(offer => {
        return [offer.offerId, offer.assetId, offer.genotype, offer.owner].some(item => item.toLowerCase().includes(state.search.toLowerCase()))
      })
    })

    const makeOffer = async () => {
      try {
        state.loading.make = true
        const makeOfferParams: MakeOfferParams = state.makeOfferFields
        await api.makeOffer(makeOfferParams)
        state.popup.make = false
        await fetchOffers()
      } catch (e) {
        message.error('Something went wrong', { closable: true })
        console.error(e)
      } finally {
        state.loading.make = false
      }
    }
    const selectOffer = (offerId: string) => {
      state.currentOffer = offers.value[offerId]
      state.acceptOfferFields.offerId = state.currentOffer.offerId
      state.popup.accept = true
    }
    const acceptOffer = async () => {
      const { offerId } = state.acceptOfferFields
      try {
        state.loading.accept[offerId] = true
        const acceptOfferParams: AcceptOfferParams = state.acceptOfferFields
        await api.acceptOffer(acceptOfferParams)
        state.popup.accept = false
        await fetchOffers()
      } catch (e) {
        message.error('Something went wrong', { closable: true })
        console.error(e)
      } finally {
        delete state.loading.accept[offerId]
      }
    }
    const cancelOffer = async (offerId: string) => {
      try {
        state.loading.cancel[offerId] = true
        await api.cancelOffer({ offerId })
        await fetchOffers()
      } catch (e) {
        message.error('Something went wrong', { closable: true })
        console.error(e)
      } finally {
        delete state.loading.cancel[offerId]
      }
    }

    const changeMakeOfferSterility = (value: string) => {
      const parsedValue = parseInt(value, 10)
      state.makeOfferFields.sterility = ([0, 1, 2].includes(parsedValue) ? parsedValue : 0) as SterilityStatus
    }

    const columns = computed(() => {
      return [
        {
          title: 'Offer ID',
          key: 'offerId',
          render: ({ offerId }: Offer) => `${offerId.slice(0, 3)}...${offerId.slice(-3)}`,
        },
        {
          title: 'Owner',
          key: 'owner',
          render: ({ owner }: Offer) => `${owner.slice(0, 3)}...${owner.slice(-3)}`,
        },
        {
          title: 'Amount',
          key: 'amount',
          render: ({ assetId, amount }: Offer) => {
            if (assetId === 'WAVES') {
              return parseFloat((amount / (10 ** state.assetsDetails[assetId].decimals)).toFixed(state.assetsDetails[assetId].decimals))
            }
            return amount
          },
        },
        {
          title: 'Asset',
          key: 'name',
          render ({ assetId, name }: Offer) {
            if (assetId === 'WAVES') {
              return name
            }
            return h(
              NButton,
              {
                size: 'small',
                text: true,
                tag: 'a',
                href: `https://wavesducks.com/duck/${assetId}`,
                target: '_blank',
              },
              name,
            )
          },
        },
        {
          title: 'Target genotype',
          key: 'genotype',
          render: ({ genotype }: Offer) => genotype || '-',
        },
        {
          title: 'Target color',
          key: 'color',
          render: ({ color }: Offer) => color || '-',
        },
        {
          title: 'Target generation',
          key: 'generation',
          render: ({ generation }: Offer) => generation || '-',
        },
        {
          title: 'Target sterility',
          key: 'sterility',
          render: ({ sterility }: Offer) => sterilityStatuses[sterility].label,
        },
        {
          title: 'Private',
          key: 'private',
          render: ({ password }: Offer) => password ? '+' : '-',
        },
        {
          title: 'Actions',
          key: 'actions',
          render ({ offerId, owner }: Offer) {
            return h(
              NGrid,
              {
                cols: 2,
                'x-gap': 8,
                style: {
                  width: 'max-content',
                },
              },
              [
                h(
                  NGi,
                  {},
                  [
                    h(
                      NButton,
                      {
                        size: 'small',
                        onClick: () => selectOffer(offerId),
                        loading: state.loading.accept[offerId],
                        disabled: state.loading.accept[offerId],
                      },
                      { default: () => 'Accept' }
                    ),
                  ],
                ),
                h(
                  NGi,
                  {},
                  [
                    h(
                      NButton,
                      {
                        size: 'small',
                        onClick: () => cancelOffer(offerId),
                        loading: state.loading.cancel[offerId],
                        disabled: owner !== currentAddress.value || state.loading.cancel[offerId],
                      },
                      { default: () => 'Cancel' }
                    )
                  ],
                ),
              ],
            )
          },
        }
      ]
    })

    const listenKeeper = (data: WavesKeeper.IPublicStateResponse) => {
      if (!data.initialized) {
        message.warning('Create Waves account', { closable: true })
        return
      }
      if (data.network.code !== process.env.VUE_APP_CHAIN_ID) {
        message.error('Invalid network', { closable: true })
        return
      }
      state.publicState = data
    }

    const checkKeeper = async () => {
      if (typeof WavesKeeper === 'undefined') {
        message.error('Install Waves Keeper', { closable: true })
        return null
      }

      WavesKeeper.on('update', listenKeeper)
      listenKeeper(await WavesKeeper.publicState())
    }

    onMounted(async () => {
      await fetchOffers()
      await checkKeeper()
    })

    return {
      state,
      offersFiltered,
      sterilityStatuses,
      currentAddress,
      makeOffer,
      acceptOffer,
      selectOffer,
      cancelOffer,
      changeMakeOfferSterility,
      acceptOfferRules,
      makeOfferRules,
      makeOfferFormRef,
      acceptOfferFormRef,
      columns,
    }
  },
})
</script>
