<template>
  <NConfigProvider :theme="darkTheme">
    <NMessageProvider>
      <NLayout>
        <NLayoutContent content-style="padding: 2rem;">
          <Home/>
        </NLayoutContent>
      </NLayout>
    </NMessageProvider>
  </NConfigProvider>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Home from '@/components/Home.vue'
import { darkTheme, NConfigProvider, NMessageProvider, NLayout, NLayoutContent, NLayoutHeader, NText } from 'naive-ui'

export default defineComponent({
  name: 'App',
  components: {
    Home,
    NConfigProvider,
    NMessageProvider,
    NLayout,
    NLayoutHeader,
    NLayoutContent,
    NText,
  },
  setup() {
    return {
      darkTheme,
    }
  },
})
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  word-break: normal;
}

body {
  background-color: rgb(16, 16, 20);
  color: rgba(255, 255, 255, 0.82)
}

</style>
